
body{font-family: 
'Rubik', sans-serif;background-color:white;}
h1{text-align: center;font-size: 50px;}
h2{font-size: 40px;}
h3{font-size: 30px;}
h4{text-align: center;font-size: 30px;}
header{background-color:darkblue;border: solid;border-color: black;color: white;}

.début{border-bottom: 1px solid ;margin-bottom:0px ;}

.timeline{box-sizing: border-box;position: relative;margin:0 auto;overflow: auto;
;background-color:blanchedalmond;}
.timeline::after{
    content:"";
    position: absolute;
    left: 20px;
    right: 20px;
    height: 10px;
    top: 50%;
    background-color: brown;
    border-radius: 5px;
    z-index: 1;
    transform: translateY(-50%) ;}
.timeline article { 
    display: inline-block;
    position: relative;
    padding: 10px;
    width: auto;
    margin-right: 20px;}

.EXP{border-bottom: 1px solid ;}
.maitrise{box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);background-color: rgb(13, 184, 24);border-radius: 10px; 
         font-size:  25px;padding:50px;text-align: center;margin :30px;}
.encours{box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);background-color: orange;border-radius: 10px;
        font-size:  25px;padding:50px;text-align: center;margin:30px;}
.alignement{display:flex;}
.aligne{display:flex;}
.ali{display: flex;border-bottom: 1px solid;}
.serieux{box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);background-color: skyblue;border-radius: 15px;font-size: 25px; padding: 50px;margin: 15px;}
.patience{box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);background-color: skyblue;border-radius: 15px;font-size: 25px; padding: 50px;margin: 20px;}
.adaptation{box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);background-color: skyblue;border-radius: 15px;font-size:25px; padding: 50px;margin: 10px;}
.esprit{box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);background-color: skyblue;border-radius: 15px;font-size: 25px; padding: 50px;margin: 10px;}
.présentation{font-size: 20px;}
.information{display: flex;font-size: 15px;}
.info{font-size: 30px;}
footer{background-color:rgb(50,205,50);}
.hobbies{border-bottom: 1px double;}