body {
    font-family:
        'Rubik', sans-serif;
    background-color: white;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h4 {
    text-align: center;
    font-size: 30px;
}
section{
    padding: 50px;
}
section:nth-of-type(2n){
    background-color:rgb(241, 241, 241);
}

header {
    background-color: darkblue;
    border: solid;
    border-color: black;
    color: white;
}

.début {
    margin-bottom: 0px;
}

.timeline {
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    overflow: auto;
    ;
    background-color: blanchedalmond;
}

.timeline::after {
    content: "";
    position: absolute;
    left: 20px;
    right: 20px;
    height: 10px;
    top: 50%;
    background-color: brown;
    border-radius: 5px;
    z-index: 1;
    transform: translateY(-50%);
}

.timeline article {
    display: inline-block;
    position: relative;
    padding: 10px;
    width: auto;
    margin-right: 20px;
}

.maitrise {
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
    background-color: rgb(13, 184, 24);
    border-radius: 10px;
    font-size: 25px;
    padding: 50px;
    text-align: center;
    margin: 30px;
    flex: 1;
}   

.encours {
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
    background-color: orange;
    border-radius: 10px;
    font-size: 25px;
    padding: 50px;
    text-align: center;
    margin: 30px;
    flex: 1;   
}

.alignement {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.aligne {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
}

.Soft {
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
    background-color: skyblue;
    border-radius: 15px;
    font-size: 25px;
    padding: 50px;
    margin: 15px;
    flex: 1;
    text-align: center;

}

.présentation {
    font-size: 20px;
}

.hobbies {
    display: flex;
    font-size: 35px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

figure{
    text-align: center;
}

.sport {
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
    padding: 40px;
}

.jeux {
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
    padding: 40px;
}

.cuisine {
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
    padding: 40px;
}

.voyage {
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
    padding: 40px;
}

.information {
    display: flex;
    font-size: 15px;
}

.info {
    font-size: 30px;
}

footer {
    background-color: darkblue;
    border: solid;
    border-color: black;
    color: white;
}